{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
        .footer {
          margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
        }

        .section-{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
          padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        }

        .footer-block__small-image {
          align-items: center;
          margin: 0 auto;
          text-align: center;
        }

        @media screen and (min-width: 750px) {
          .footer {
            margin-top: {{ section.settings.margin_top }}px;
          }

          .section-{{ section.id }}-padding {
            padding-bottom: {{ section.settings.padding_bottom }}px;
          }
        }

      .shopify-policy__container {
          max-width: 1260px;
          margin: 0 auto;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 50px;
      }
      .icons-footer{
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-top:1rem;
         }

         .icons-footer >a img,
          .icons-footer >img {
            width:20px;
            height:20px;
            margin-right: 10px;
         }
         .icon-down-chevron{
          float: right;
          padding-right: 1rem;
         }

      /** Menu Accordian Styles */
      .menu-accordion {
        border-radius: 4px;
        margin-bottom: 1rem;
      }

    .menu-accordion-header {
      width: 150px;
      padding: 10px;
      border:1px solid #cecece;
      border-radius: 4px;
      background-color: #f9f9f9;
      cursor: pointer;
    }
    .menu-accordion-header h2 {
      font-size: 1.5rem;
      color: #636262;
      margin: 0;
      opacity: 0.8;
    }
    .menu-accordion-header h2:after {
      content: '';
      float: right;
      color:gray;
  }

    .meta-info-wrapper {
      display: flex;
      justify-content: space-around;
      column-gap: 50px;
      margin: 20px 0;
    }

    .menu-accordion-content {
      padding: 1rem;
    }
    .menu__container {
      margin-bottom: 20px;
      float: inline-start;
      font-family: 'BodoniFLF Regular', serif;
      }
      .menu__container:hover {
        cursor: pointer;
    }

    .footer-text-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .footer-block__heading {
      font-size: 2rem;
      margin:1rem 0;
      color: #636262;
      text-decoration: none solid rgb(99, 98, 98);
    }
    .footer-block__details-content {
      margin-bottom: 2rem;
      line-height: 2;
    }

    .footer-block__details-content.rte p {
      color: #636262;
      font-family: 'Quicksand', serif;
      text-decoration: none solid rgb(99, 98, 98);
    }

    .footer-copyright-text{
      text-align: center;
      font-size: 1.25rem;
      color: #636262;
      background-color: #ffffff;
      padding: 1rem 0 2rem;
    }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="footer__content-top page-width">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}

          <div
            class="footer__blocks-wrapper {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- if section.settings.newsletter_enable -%}
              <div class="footer-block__newsletter">
                {%- if section.settings.newsletter_heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
                {%- endif -%}
                {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field field_email">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t }}
                      </label>
                      <button
                        type="submit"
                        class="newsletter-form__button field__button"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                      >
                        {% render 'icon-arrow' %}
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="ContactFooter-error">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="ContactFooter-success"
                      tabindex="-1"
                      autofocus
                    >
                      {% render 'icon-success' -%}
                      {{- 'newsletter.success' | t }}
                    </h3>
                  {%- endif -%}
                {%- endform -%}
              </div>
            {%- endif -%}

            <div class="block__container">
              {%- for block in section.blocks -%}
                <div
                  class="footer-block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {%- case block.type -%}
                    {%- when '@app' -%}
                      {% render block %}
                    {%- when 'text' -%}
                      <div class="footer-text-block">
                        {%- if block.settings.small_image != blank -%}
                          <div class="footer-block__small-image">
                            <img
                              src="{{ block.settings.small_image|  img_url: 'medium'}}"
                              alt="{{ block.settings.small_image.alt | escape }}"
                              loading="lazy"
                              class="footer-logo"
                            >
                          </div>
                        {%- endif -%}
                        <div class="icons-footer">
                          {%- if block.settings.small_image1 != blank -%}
                            <a
                              href="https://www.instagram.com/vasundhrarajluxury?igsh=YjF1eW90ZXYxd2R1"
                              target="_blank"
                            >
                              <img src="{{ block.settings.small_image1|  img_url: 'medium'}}" class="icon-footer1">
                            </a>
                          {% endif %}
                          {%- if block.settings.small_image2 != blank -%}
                            <a href="https://yt.openinapp.co/teeledharo" target="_blank">
                              <img src="{{ block.settings.small_image2|  img_url: 'medium'}}" class="icon-footer1">
                            </a>
                          {% endif %}
                          {%- if block.settings.small_image3 != blank -%}
                            <a href="https://www.linkedin.com/company/vasundhra-raj/mycompany/" target="_blank">
                              <img src="{{ block.settings.small_image3|  img_url: 'medium'}}" class="icon-footer1">
                            </a>
                          {% endif %}
                          {%- if block.settings.small_image4 != blank -%}
                            <img src="{{ block.settings.small_image4|  img_url: 'medium'}}" class="icon-footer1">
                          {% endif %}
                          {%- if block.settings.small_image5 != blank -%}
                            <img src="{{ block.settings.small_image5|  img_url: 'medium'}}" class="icon-footer1">
                          {% endif %}
                        </div>
                        {%- if block.settings.heading != blank -%}
                          <h2 class="footer-block__heading inline-richtext">
                            {{- block.settings.heading -}}
                          </h2>
                        {%- endif -%}

                        <!--
                          {%- if section.settings.show_social and has_social_icons -%}
                            {%- render 'social-icons', class: 'footer__list-social' -%}
                          {%- endif -%}
                        -->
                        {% if block.settings.icon %}
                          <div class="text-with-icon">
                            <img
                              src="{{ block.settings.icon | img_url: 'medium' }}"
                              alt="Icon"
                              class="text-with-icon-image"
                            >
                            <span style="position: relative; bottom: 6px; color: black;">
                              {{- block.settings.text -}}
                            </span>
                          </div>
                        {% endif %}

                        {% if block.settings.icon_2 %}
                          <div class="text-with-icon">
                            <a href="{{ block.settings.link }}">
                              <img
                                src="{{ block.settings.icon_2 | img_url: 'medium' }}"
                                alt="Icon 2"
                                class="text-with-icon-image"
                              >
                              <span style="position: relative; bottom: 6px; color: black;">
                                {{- block.settings.text_2 -}}
                              </span>
                            </a>
                          </div>
                        {% endif %}

                        {% if block.settings.icon_3 %}
                          <div class="text-with-icon">
                            <img
                              src="{{ block.settings.icon_3 | img_url: 'medium' }}"
                              alt="Icon 3"
                              class="text-with-icon-image"
                            >
                            <span style="position: relative; bottom: 6px; color: black;">
                              {{- block.settings.text_3 -}}
                            </span>
                          </div>
                        {% endif %}
                        <div class="footer-block__details-content rte">
                          {{ block.settings.subtext }}
                        </div>
                      </div>
                    {%- when 'brand_information' -%}
                      {%- if block.settings.heading1 != blank -%}
                        <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading1 -}}</h2>
                      {%- endif -%}
                      <div class="footer-block__brand-info">
                        {%- if settings.brand_image != blank -%}
                          {%- assign brand_image_height = settings.brand_image_width
                            | divided_by: settings.brand_image.aspect_ratio
                          -%}
                          <div
                            class="footer-block__image-wrapper"
                            style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                          >
                            {{
                              settings.brand_image
                              | image_url: width: 1100
                              | image_tag:
                                loading: 'lazy',
                                widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                                height: brand_image_height,
                                width: settings.brand_image_width
                            }}
                          </div>
                        {%- endif -%}
                        {%- if settings.brand_headline != blank -%}
                          <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                        {%- endif -%}
                        {%- if settings.brand_description != blank -%}
                          <div class="rte">{{ settings.brand_description }}</div>
                        {%- endif -%}
                        {%- if block.settings.show_social and has_social_icons -%}
                          {%- render 'social-icons', class: 'footer__list-social' -%}
                        {%- endif -%}
                      </div>

                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                  {%- endcase -%}
                </div>
              {%- endfor -%}

              <div class="meta-info-wrapper">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {%- when 'link_list' -%}
                      <!-- This Section renders Menu Items - About US OR Help -->
                      <div class="menu__container">
                        {%- if block.settings.heading != blank -%}
                          <div
                            x-data="
                              { open: false, scroll(){
                                  $nextTick(()=> window.scrollTo({
                                  top: document.body.scrollHeight,
                                  behavior: 'smooth'
                                }))
                              } }
                            "
                            class="menu-accordion"
                          >
                            <button @click="open = !open, scroll()" class="menu-accordion-header">
                              <h2 class="footer-block__heading inline-richtext">
                                {{- block.settings.heading -}}
                                <span class="icon-down-chevron">
                                  {% render 'Icon-down-chevron' %}
                                </span>
                              </h2>
                            </button>
                            <div
                              x-show="open"
                              class="menu-accordion-content"
                              x-transition:enter.duration.500ms
                              x-transition:leave.duration.400ms
                            >
                              {%- if block.settings.menu != blank -%}
                                <ul class="footer-block__details-content list-unstyled">
                                  {%- for link in block.settings.menu.links -%}
                                    <li>
                                      <a
                                        href="{{ link.url }}"
                                        class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                                      >
                                        {{ link.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                    {%- when 'link_list2' -%}
                      <!-- This Section renders Menu Items - About US OR Help -->
                      <div class="menu__container">
                        {%- if block.settings.heading2 != blank -%}
                          <div
                            x-data="
                              { open: false, scroll(){
                                  $nextTick(()=> window.scrollTo({
                                      top: document.body.scrollHeight,
                                       behavior: 'smooth'
                                    }
                                ))
                              } }
                            "
                            class="menu-accordion"
                          >
                            <button @click="open = !open, scroll()" class="menu-accordion-header">
                              <h2 class="footer-block__heading inline-richtext title-2">
                                {{- block.settings.heading2 -}}
                                <span class="icon-down-chevron">
                                  {% render 'Icon-down-chevron' %}
                                </span>
                              </h2>
                            </button>
                            <div
                              x-show="open"
                              class="menu-accordion-content"
                              x-transition:enter.duration.500ms
                              x-transition:leave.duration.400ms
                            >
                              {%- if block.settings.menu2 != blank -%}
                                <ul class="footer-block__details-content list-unstyled">
                                  {%- for link in block.settings.menu2.links -%}
                                    <li>
                                      <a
                                        href="{{ link.url }}"
                                        class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}"
                                      >
                                        {{ link.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            </div>
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}
  <div class="footer-copyright-text"><span>copyright@vasundrarajluxuryjewellery</span></div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",

  "blocks": [
    {
      "type": "@app"
    },

    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },

        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "link_list2",
      "name": "link-list-2",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading2",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },

        {
          "type": "link_list",
          "id": "menu2",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },

        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
          "type": "inline_richtext",
          "id": "heading1",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        }
      ]
    },

    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "image_picker",
          "id": "small_image1",
          "label": "Icon"
        },
        {
          "type": "image_picker",
          "id": "small_image2",
          "label": "Icon1"
        },
        {
          "type": "image_picker",
          "id": "small_image3",
          "label": "Icon2"
        },
        {
          "type": "image_picker",
          "id": "small_image4",
          "label": "Icon3"
        },
        {
          "type": "image_picker",
          "id": "small_image5",
          "label": "Icon4"
        },
        {
          "type": "image_picker",
          "id": "small_image",
          "label": "Small Image"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon_2",
          "label": "Icon 2"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        },
        {
          "type": "text",
          "id": "text_2",
          "label": "Text 2"
        },
        {
          "type": "image_picker",
          "id": "icon_3",
          "label": "Icon 3"
        },
        {
          "type": "text",
          "id": "text_3",
          "label": "Text 3"
        }
      ]
    },

    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "small_image",
      "name": "Small Image",
      "settings": []
    },
    {
      "type": "small_image_second",
      "name": "Small_Image_second",
      "settings": [
        {
          "type": "image_picker",
          "id": "small_image_second",
          "label": "Small Image"
        }
      ]
    }
  ],

  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },

    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      },
      {
        "type": "small_image"
      }
    ]
  }
}
{% endschema %}
