<div class="logoList--container page-width slider" style="padding-top: {{ section.settings.padding_top | append: 'px' }}; padding-bottom: {{ section.settings.padding_bottom | append: 'px' }}">
  {% if section.settings.small_image %}
    <div class="section-head">
      <img src="{{ section.settings.small_image | img_url: 'medium' }}" alt="Small Image" class="section-small-image-logo">
    </div>
  {% endif %}
  <h2 class="head-title">{{ section.settings.title | escape }}</h2>
  <ul class="logo-list">
    {%- for block in section.blocks -%}
      <li class="logoList--item-img" {{ block.shopify_attributes }}>
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}">
        {%- endif -%}
          {%- if block.settings.image != blank -%}
            {{ block.settings.image | img_url: section.settings.logo_width, scale: 2 | img_tag: block.settings.image.alt }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Slick Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
$(document).ready(function() {
  function initializeSlick() {
    // Initialize Slick for all screen sizes
    if (!$('.logo-list').hasClass('slick-initialized')) {
      $('.logo-list').slick({
        arrows: false,
        dots: false,
        slidesToShow: 5, 
        autoplay: true,
        speed: 1500,
        autoplaySpeed: 1000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3 
            }
          },
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 3 // Adjust for mobile
            }
          },
          {
            breakpoint: 550,
            settings: {
              slidesToShow: 3 // Adjust for smaller screens
            }
          }
        ]
      });
    }
  }

  // Initialize on document ready
  initializeSlick();

  // Reinitialize on window resize
  $(window).resize(function() {
    initializeSlick();
  });
});

</script>
<style>
  @media screen and (min-width: 750px) 
    .logoList--item-img img {
    width: 75%;
}
  }
  li.logoList--item-img.slick-slide {
    list-style: none;
}
  .logoList--container {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.logoList--container ul {
  display: block;
  justify-content: center;
  padding: 0px 12px;
}

.section-small-image {
  align-items: center;
}
li.logoList--item-img.slick-slide.slick-active {
    list-style: none;
}
.logoList--item {
  display: inline-block;
}
  /* @media screen and (min-width: 750px){ */
.logoList--item-img img {
  width: 190px;
      height: 50px;
}

  @media screen and (max-width: 749px){
     .logoList--item-img img {
        width: 101px;
        height: 25px;
    }
  }
  ul.logo-list.slick-initialized.slick-slider {
    /* background: #FFEFEF; */
        padding: 0;
    margin: 0;
}
div#shopify-section-template--16225477132358__logo_list_dD44wk {
    background: #ffc0cb3b;
    /* margin: 0; */
    /* padding: 0; */
}
.head-title {
  text-align: center;
  font-size: 35px;
}
div#shopify-section-template--16225477132358__logo_list_QVefd3 {
    /* background: #F3F4F4; */
}
.section-small-image-logo {
  display: block;
  margin: 0 auto;
      height: 14px;
}

@media screen and (min-width: 750px) {
  .logoList--container ul {
    grid-template-columns: none;
  }

  .section-head {
    margin-bottom: 0px;
    text-align: center;
  }

  .logoList--item img {
    width: {{ section.settings.logo_width }};
        height: 101px;

  }
}

.slick-slider {
  min-width: 0;
}
div#shopify-section-template--16225477099590__logo_list_UtXBYK {
    background: white;
}
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  padding: 0px 0px;
}

@media (max-width: 767px) {
  .slider {
    padding: 0px 0px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -20px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(https://cdn.shopify.com/s/files/1/0602/6926/4966/files/Component_1_7.png?v=1723709806) no-repeat center;
    background-size: contain;
    border: none;
    position: relative;
    top: 91px;
    left: 42%;
    z-index: 0;
}
.slider .slick-arrow.slick-next {
    right: 0px;
    background: url(https://cdn.shopify.com/s/files/1/0602/6926/4966/files/Component_2_1.png?v=1723709469) no-repeat center;
    background-size: contain;
    border: none;
    position: relative;
    left: 50%;
    bottom: 2px;
    z-index: 0;
} 
@media screen and (min-width: 749px) {
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("https://cdn.shopify.com/s/files/1/0602/6926/4966/files/Component_1_7.png?v=1723709806") no-repeat center;
  background-size: contain;
  border: none;
  position: relative;
  top: 91px;
  left: 47%;
      z-index: 0;
}

    .slider .slick-arrow.slick-next {
        right: 0px;
        background: url(https://cdn.shopify.com/s/files/1/0602/6926/4966/files/Component_2_1.png?v=1723709469) no-repeat center;
        background-size: contain;
        border: none;
        position: relative;
        left: 50%;
        bottom: 4px;
        z-index: 0;
    }
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
</style>

{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "image_picker",
      "id": "small_image",
      "label": "Small Image",
      "info": "Select an image to display alongside the title."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "select",
      "id": "logo_width",
      "label": "Logo width",
      "default": "160px",
      "options": [
        {
          "label": "Extra Small",
          "value": "50px"
        },
        {
          "label": "Small",
          "value": "100px"
        },
        {
          "label": "Medium",
          "value": "160px"
        },
        {
          "label": "Large",
          "value": "200px"
        },
        {
          "label": "Extra Large",
          "value": "400px"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "label": "Padding top"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 20,
      "label": "Padding bottom"
    }
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        },
        {
          "type": "logo_image"
        }
      ]
    }
  ]
}
{% endschema %}
